<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Crop Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <image-cropper [resizeToWidth]="250"  [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </ion-col>
      <ion-col>
        <img [src]="croppedImage" />

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>