ion-content{
    --background: var(--ion-color-primary);
    display: flex;
}


.title{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 40px 0px;
}
.text{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.text-container{
    border: 2px solid white;
}
