<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-hide-sm-down" style="cursor: pointer;" routerLink="/home">Sports Planner</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="user" routerLink="/profile">
        <ion-avatar style="height: 25px; width: 25px; margin-right: 10px">
          <img [src]="user?.photoUrl">
        </ion-avatar>
        {{ user?.fname + ' ' + user?.lname}}
      </ion-button>

      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/plans">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/drills">
        <ion-icon name="tv-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showMenu($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-app>
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
</ion-content>