<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>add coach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search by Coach or Team" (ionChange)="search($event)"></ion-searchbar>

  <ion-card *ngIf="coaches.length == 0">
    <p class="text ion-text-center">There are no coaches</p>
  </ion-card>
  <ion-list lines="full">
    <ion-item (click)="selectCoach(coach)" *ngFor="let coach of coaches">
      <ion-avatar slot="start">
        <img [src]="coach.photoUrl">
      </ion-avatar>
      <ion-label>
        {{ coach.fname + ' ' + coach.lname }}
        <p> {{ coach.team }} </p>
      </ion-label>
      <p>{{ coach.sport}}</p>
    </ion-item>
  </ion-list>
</ion-content>